@mixin  posWidHei($pos, $wid, $hei) {
    position: $pos;
    width: $wid;
    height: $hei;
}

#yellowSection{
    @include posWidHei(relative, 100%, 450px);
    background-color: #FFB33F;
    display: flex;

    .try_it_now{
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        @include posWidHei(absolute, auto, auto);
        font-family: Arial, Helvetica, sans-serif;
        padding: 10px 30px;
        border-radius: 21px;
        right: 25px;
        background-color: white;
        top: 40px;
        overflow: hidden;
        z-index: 5;
        color: #FFB33F;
        text-transform: uppercase;
        cursor: pointer;

        span{
            pointer-events: none;
        }
    }

    .try_it_now::before {
        --size: 0;
        --sizey : 0;
        content: '';
        position: absolute;
        left: var(--x);
        top: var(--x);
        width: var(--size);
        height: var(--sizey);
        background: radial-gradient(circle closest-side, #4405f7, transparent);
        -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        transition: width .2s ease-in-out, height .2s ease-in-out;
    }
    .try_it_now:hover::before {
        --size: 300px;
        --sizey: 1000px
    }

    .overlay{
        @include posWidHei(absolute, 100%, 100%);
        background-position: cover;
        background-size: cover;
        z-index: 5;
    }

    .left_side_container{
        @include posWidHei(relative, 44%, auto);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 6;
        background-color: #FFB33F;

        .div1{
            @include posWidHei(absolute, 150px, 150px);
            border-radius: 50%;
            background-position: top;
            top: 110px;
        }
        
        .div2{
            @include posWidHei(absolute, 200px, 200px);
            border-radius: 50%;
            background-position: center;
            bottom: 20px;
            left: 46px;
        }

        .div3{
            @include posWidHei(absolute, 100px, 100px);
            border-radius: 50%;
            right: 121px;
            top: 228px;
        }
    }

    .right_side_container{
        @include posWidHei(relative, 56%, auto);
        display: flex;
        justify-content: center;
        align-items: center;

        .head1{
            @include posWidHei(absolute, auto , auto);
            display: block;
            bottom: 246px;
            font-size: 42px;
            font-weight: bold;
            color: white;
            font-family: Arial, Helvetica, sans-serif;
        }

        .head2{
            @include posWidHei(absolute, auto , auto);
            display: block;
            font-size: 30px;
            left: 67px;
            bottom: 169px;
            font-family: Arial, Helvetica, sans-serif;
        }

        .see_demo_btn{
            @include posWidHei(absolute, auto , auto);
            display: block;
            bottom: 110px;
            left: 66px;
            padding: 11px 35px;
            background-color: white;
            border-radius: 30px;
            font-family: Arial, Helvetica, sans-serif;
        }

        .trans_ele{
            @include posWidHei(absolute, 200px, 200px);
            bottom: 0px;
            right: 0;
            background-position: right;
            border-bottom-left-radius: 21px;
            border-top-left-radius: 493px;
            border-top-right-radius: 15px;
        }
    }
}